.slider {
  overflow: scroll;
  display: flex;
  align-items: center;
  scrollbar-width: none;
}

.slider img {
  width: 330px;
  height: 400px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}

.slider .move {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0px 15px;
  overflow-y: hidden;
}
