.slider {
  height: auto;
  width: 100%;
  overflow: hidden;
  background: var(--background);
}

.slider .move {
  display: flex;
  width: calc(565px * 10);
  animation: animacion 30s linear infinite;
}

@keyframes animacion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-565px * 5));
  }
}

.slider .card {
  height: auto;
  width: 565px;
  display: flex;
  flex-direction: column;
  align-items: center;
  will-change: transform;
}

.slider .card:hover .content_image img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.card .content_image {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.card .content_image img {
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  .slider .move {
    display: flex;
    width: calc(465px * 10);
    animation: animacion 30s linear infinite;
  }

  @keyframes animacion {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-465px * 5));
    }
  }

  .slider .card {
    height: auto;
    width: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    will-change: transform;
  }

  .card .content_image img {
    width: 450;
    height: 500;
  }
}

@media (max-width: 768px) {
  .slider {
    display: none;
  }
}
