.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px;
  gap: 48px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.info_me {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
}

.avatar span {
  font-size: 18px;
}

.info_me p,
.info_me a,
.copyright p {
  font-size: 16px;
  font-weight: 300;
  text-align: start;
  line-height: 30px;
  text-wrap: balance;
  color: #999999;
}

.link_mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.content_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 80px;
}

.content_list .navigate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.navigate a {
  font-size: 16px;
  font-weight: 300;
  text-align: start;
  color: #999999;
  line-height: 23px;
}

.line {
  background: rgb(45, 62, 95);
  background: radial-gradient(
    circle,
    rgba(45, 62, 95, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  height: 1px;
}

.copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other_texts {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.other_texts strong {
  font-weight: 400;
  color: white;
}

@media (max-width: 1300px) {
  .avatar span {
    font-size: 16px;
  }
  .info_me p,
  .info_me a,
  .copyright p {
    font-size: 15px;
    line-height: 25px;
  }

  .navigate a {
    font-size: 15px;
  }
}
